$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        2xl: 1536px,
);

$z-header: 10;
$z-menu: 11;
$z-cursor: 90;
$z-cursor-image: 91;
$z-cursor-icon: 92;
$z-item-overlay: 100;
$z-transition-box: 1000;