@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  color: black;
  font-weight: 500;
}
h1.--404 {
  font-size: 15rem;
}
@media (min-width: 1024px) {
  h1.--404 {
    font-size: 20rem;
  }
}

h2 {
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
}
h2.--heading {
  font-size: 6rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
}

h4, .h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
}

h6, .h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

li {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  font-weight: 500;
  color: #F8F9F3;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  opacity: 1;
  margin: 1rem 0;
}
li:hover {
  color: #FE0000;
}
@media (min-width: 768px) {
  li {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  li {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
a :visited {
  color: inherit;
}
a.back {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

td {
  font-size: 1.25rem;
}
td.--heading {
  font-weight: 500;
}

input, .form-field * {
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: none;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --exit-width: 72px;
  --logo-width: 50%;
}
@media (min-width: 768px) {
  :root {
    --exit-width: 92px;
  }
}
@media (min-width: 1024px) {
  :root {
    --exit-width: 128px;
  }
}
@media (min-width: 1280px) {
  :root {
    --exit-width: 128px;
    --logo-width: 30%;
  }
}

.anim-wrapper {
  width: var(--logo-width);
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.anim-wrapper.exit {
  left: 32px;
  top: 32px;
  transform: translate(0, 0);
}
@media (max-width: 1200px) {
  .anim-wrapper {
    --width: 50%;
    transform: translate(-48%, -50%);
  }
}

.anim__item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.anim__item img {
  width: 100%;
}
.anim .autobus {
  width: 100%;
  top: 85%;
  left: -8%;
  rotate: 2deg;
}
.anim .samolot {
  width: 90%;
  top: 18%;
  left: 90%;
  rotate: 35deg;
}
.anim .logo {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: #F8F9F3;
  position: relative;
  --rotate: -12deg;
  --x: -20%;
}
.anim .logo::after {
  content: "";
  display: block;
  width: 18.2%;
  aspect-ratio: 10/21;
  position: absolute;
  top: 55%;
  left: 92%;
  rotate: var(--rotate);
  z-index: -2;
  background-image: url("../images/szpieg.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(var(--x));
}
.anim .logo img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}

.header {
  height: auto;
  padding: 1rem 1.5rem 1rem 1rem;
  max-width: 100dvw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
@media (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}
.header .logo {
  aspect-ratio: 1/1;
  width: var(--exit-width);
  position: relative;
  --rotate: -12deg;
  --x: -20%;
}
.header .logo::after {
  content: "";
  display: block;
  width: 18.2%;
  aspect-ratio: 10/21;
  position: absolute;
  top: 55%;
  left: 92%;
  rotate: var(--rotate);
  z-index: -2;
  background-image: url("../images/szpieg.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(var(--x));
}
.header .logo:hover {
  cursor: pointer;
  --x: 0;
  --rotate: 0deg;
}
.header .logo::after {
  transition: transform 0.5s cubic-bezier(0.47, 0, 0.23, 1.38), rotate 0.5s cubic-bezier(0.47, 0, 0.23, 1.38);
}
.header .logo img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}
.header h3 {
  display: none;
}
@media (min-width: 1024px) {
  .header h3 {
    display: inline-block;
  }
}
.header__menu {
  display: block;
  border: none;
  background-color: transparent;
  margin: 0;
}
.header__right {
  opacity: 0;
  position: relative;
}
.header:after {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background-image: url("../images/szpieg2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: calc(50% - 2rem);
}

.menu__btn--close {
  display: none;
}
@media (min-width: 1024px) {
  .menu__btn--close {
    display: block;
    border: none;
    background-color: transparent;
    color: white;
    text-transform: lowercase;
    position: absolute;
    bottom: 4rem;
    left: 100px;
  }
  .menu__btn--close:hover {
    color: #FE0000;
  }
}

body:has(div.ranAnim) .header__right {
  opacity: 1;
}

.categories-list {
  display: none;
}
@media (min-width: 1024px) {
  .categories-list {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.categories-list a, .categories-list h4 {
  white-space: nowrap;
}

.menu {
  font-size: 5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
  z-index: 11;
  background-image: url("../images/menu-bg-sm.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .menu {
    background-image: url("../images/menu-bg-md.png");
  }
}
@media (min-width: 1280px) {
  .menu {
    background-image: url("../images/menu-bg-lg.png");
  }
}
.menu.active {
  opacity: 1;
  pointer-events: all;
}
.menu.inactive {
  opacity: 0;
  pointer-events: none;
}
.menu .hidden {
  display: none;
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
  list-style: none;
  padding: 0;
  margin: 0 0 4rem 0;
  position: relative;
}
@media (min-width: 1024px) {
  .menu__list {
    margin: 0;
  }
}
.menu__list.categories .menu__item {
  position: relative;
  z-index: 1;
}
.menu__list.categories .menu__item:hover {
  z-index: 100;
  color: #FE0000;
}

.single article {
  padding: 0 1rem;
  display: grid;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  grid-template-rows: repeat(auto-fit, minmax(max-content, 1fr));
}
@media (min-width: 768px) {
  .single article {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .single article {
    padding: 0;
    max-width: 1400px;
    column-gap: 3rem;
  }
}
.single__image {
  height: 100%;
  max-height: 800px;
  width: clamp(50%, fit-content, 100%);
  align-self: start;
}
.single__image picture, .single__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-self: flex-start;
  object-position: 50% 0;
}
.single__details {
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: 1rem;
  grid-template-areas: "title" "desc" "table";
  grid-template-rows: min-content 1fr min-content;
}
@media (min-width: 1024px) {
  .single__details {
    column-gap: 2rem;
  }
}
.single__details h2 {
  grid-area: title;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .single__details h2 {
    margin-bottom: 1.5rem;
  }
}
.single__details p {
  grid-area: desc;
  margin-bottom: 1rem;
}
.single__details table {
  grid-area: table;
  width: 100%;
  border-collapse: collapse;
  height: min-content;
  align-self: end;
}
.single__details tr {
  height: min-content;
}
.single__details tr td:first-child {
  width: 12rem;
}
.single__details td {
  height: min-content;
  width: min-content;
  padding: 2px 0;
}

.single.landscape article {
  max-width: 1200px;
}
@media (min-width: 768px) {
  .single.landscape article {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.single.landscape .single__image {
  margin-bottom: 1rem;
  max-height: unset;
  height: unset;
  width: 100%;
}
.single.landscape .single__details {
  max-width: 100%;
  max-height: min-content;
}
.single.landscape .single__details p {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .single.landscape .single__details p {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .single.landscape .single__details {
    grid-template-columns: 3fr 4fr;
    grid-template-areas: "title desc" "table desc";
  }
}

.page-prace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  z-index: -1;
  background-image: url("../images/menu-bg-sm.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .page-prace {
    background-image: url("../images/menu-bg-md.png");
  }
}
@media (min-width: 1280px) {
  .page-prace {
    background-image: url("../images/menu-bg-lg.png");
  }
}
.page-prace__item {
  position: relative;
  z-index: 1;
}
.page-prace__item:hover {
  z-index: 100;
  color: #FE0000;
}

.prace-archive {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  max-width: 1400px;
  margin: 0 auto;
}
.prace-archive__row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
}
.prace-archive__item {
  overflow: hidden;
}
.prace-archive__item[data-shape=thin] {
  grid-column: span 3;
  grid-row: span 7;
}
.prace-archive__item[data-shape=square] {
  grid-column: span 5;
  grid-row: span 5;
}
.prace-archive__item[data-shape=wide] {
  grid-column: span 7;
  grid-row: span 4;
}
.prace-archive__item[data-shape=very-wide] {
  grid-column: span 10;
  grid-row: span 3;
}
.prace-archive__item:hover img {
  transform: scale(1.05);
}
.prace-archive img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.transition-box {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #F8F9F3;
  transform: translateY(0%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 35px;
  aspect-ratio: 1;
  --c1:linear-gradient(90deg,#0000 calc(100%/3),#FE0000 0 calc(2*100%/3),#0000 0);
  --c2:linear-gradient( 0deg,#0000 calc(100%/3),#FE0000 0 calc(2*100%/3),#0000 0);
  background: var(--c1), var(--c2), var(--c1), var(--c2);
  background-size: 300% 4px, 4px 300%;
  background-repeat: no-repeat;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  0% {
    background-position: 50% 0, 100% 100%, 0 100%, 0 0;
  }
  25% {
    background-position: 0 0, 100% 50%, 0 100%, 0 0;
  }
  50% {
    background-position: 0 0, 100% 0, 50% 100%, 0 0;
  }
  75% {
    background-position: 0 0, 100% 0, 100% 100%, 0 50%;
  }
  75.01% {
    background-position: 100% 0, 100% 0, 100% 100%, 0 50%;
  }
  100% {
    background-position: 50% 0, 100% 0, 100% 100%, 0 100%;
  }
}
.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 50dvh;
}
.errorPage h1 {
  line-height: 80%;
  margin-top: -5rem;
  margin-bottom: 5rem;
}
.errorPage h6 {
  text-align: center;
  line-height: 1.5;
  max-width: 400px;
}
.errorPage .back {
  margin-top: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: clamp(50vh, 700px, 100vh);
  width: 100%;
  margin: 0 auto;
  gap: 3rem;
}
@media (min-width: 1024px) {
  .contact {
    flex-direction: row;
  }
}
.contact__decoration {
  height: 100%;
  width: 100%;
  background-image: url("../images/hotline.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: space-between;
  padding: 0 1rem;
  row-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .form {
    padding-right: 3rem;
  }
}

.form-field {
  position: relative;
  width: 100%;
}
.form-field:has(.form-field__input.filled) .form-field__label, .form-field:has(.form-field__input:focus) .form-field__label {
  transform: translate(-8px, -1rem) scale(0.8);
}
.form-field__label {
  position: absolute;
  display: block;
  left: 4px;
  top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.form-field__input {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 4px;
}
.form-field__input:focus {
  outline: none;
}
.form-field__submit {
  background: none;
  border: none;
  width: 100px;
  height: 50px;
  padding: 0;
  align-self: end;
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  --arrow-color: rgba(0,0,0,1);
}
.form-field__submit[disabled] {
  --arrow-color: rgba(0,0,0,0.3);
}
.form-field__submit .arrow {
  display: block;
  margin: 30px auto;
  width: 15px;
  height: 15px;
  border-top: 2px solid var(--arrow-color);
  border-left: 2px solid var(--arrow-color);
  transform: rotate(135deg);
  position: absolute;
  right: 32px;
  transition: all 0.3s;
}
.form-field__submit .arrow::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 70px;
  background-color: var(--arrow-color);
  transform: rotate(-45deg) translate(24px, 8px);
  transition: transform 0.3s;
}
.form-field__submit:not([disabled]):hover .arrow::after {
  transform: rotate(-45deg) translate(24px, 16px) scaleY(1.2);
}
.form-field__submit:not([disabled]):hover .arrow {
  right: 2px;
}
.form-field__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-field__row .links {
  display: flex;
  gap: 1rem;
}
.form-field__row .links a {
  transition: color 0.2s ease;
}
.form-field__row .links:has(a:hover) a:not(:hover) {
  opacity: 0.6;
}
.form-field__row .links i {
  font-size: 2rem;
}

.footer {
  padding-bottom: 1rem;
  width: 100%;
  margin-bottom: 0;
  background-color: rgba(254, 0, 0, 0.05);
}
@media (min-width: 1024px) {
  .footer {
    padding-bottom: 0;
  }
}

.lang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.lang .lang__item {
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  position: relative;
}
@media (min-width: 1024px) {
  .lang .lang__item {
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
  }
}
.lang .lang__item.active span {
  text-decoration: underline;
}
.lang .lang__item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F8F9F3;
}

.header .lang {
  position: absolute;
  column-gap: 0;
  width: 100%;
  right: 1px;
}
.header .lang label {
  flex-basis: 100%;
  height: 1.75rem;
}
.header .lang label:not(.active) {
  opacity: 0.7;
}
.header .lang span {
  text-transform: lowercase;
  color: #000000;
}

.position--bottom {
  position: absolute;
  bottom: 3rem;
}

.navigation {
  margin-top: 3rem;
}

.pagenavi {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.pagenavi a, .pagenavi span.current {
  font-size: 1.5rem;
  padding: 8px;
  text-align: center;
}
@media (min-width: 768px) {
  .pagenavi a, .pagenavi span.current {
    font-size: 1.2rem;
  }
}

.pagenavi a {
  display: block;
  color: #000000;
  position: relative;
}
.pagenavi a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transform: scaleX(0);
  transition: 0.15s transform ease-in-out;
  transform-origin: center;
}

.pagenavi a:hover:after {
  transform: scaleX(1);
}

.pagenavi span.current {
  font-weight: bold;
  position: relative;
}
.pagenavi span.current:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.alert {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
.alert--success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.alert--success .alert-icon::before {
  content: "✓";
}
.alert--error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
.alert--error .alert-icon::before {
  content: "!";
}
.alert .alert-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  transform: translateY(2px);
}
.alert .alert-message {
  font-size: 1.25rem;
  margin-top: 4px;
}

.cursor {
  width: 2rem;
  height: auto;
  aspect-ratio: 1;
  position: fixed;
  z-index: 90;
  pointer-events: none;
  border: 1px solid #FE0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background 0.3s ease, opacity 0.3s ease;
  will-change: width, height, background, opacity;
  top: 0 !important;
  left: 0 !important;
  transform-origin: center;
  display: none;
  background-color: transparent;
  opacity: 0;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}
.cursor__image {
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: none;
  background-position: center;
  width: 0;
  height: 18rem;
  filter: brightness(2);
  z-index: 91;
  transform: skewX(0) skew(0);
  will-change: skewX, skew, filter, width, background-image;
}
.cursor__arrow {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  z-index: 92;
  transition: transform 0.3s ease 0s, opacity 0.2s ease 0s, scale 0.2s ease 0s;
}
.cursor__arrow svg {
  width: 100%;
  height: 100%;
}
.cursor.loading .cursor__arrow {
  opacity: 1;
  animation: rotate-loader infinite 1s ease-in-out;
}

@keyframes rotate-loader {
  from {
    transform: translate(-50%, -50%) rotate(0deg) scale(0.95);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.05);
  }
}
body:has(div.menu.active:hover) {
  cursor: pointer;
}
body:has(div.menu.active:hover) .cursor__arrow {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg);
}

.cursor--click:hover, .cursor--img:hover, a {
  cursor: pointer;
}

body:has(.cursor--click:hover, a:hover) .cursor {
  width: 3rem;
}
body:has(.cursor--click:hover, a:hover) .cursor__arrow {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) !important;
}

body:has(.cursor--img:hover) .cursor__arrow {
  opacity: 0 !important;
}

body:has(.menu__item.cursor--click:nth-child(even):hover) .cursor__arrow,
body:has(.categories-list h4:nth-child(even):hover) .cursor__arrow,
body:has(#language-form .cursor--click:nth-child(even):hover) .cursor__arrow,
body:has(.prace-archive__row:nth-child(even):hover) .cursor__arrow {
  transform: translate(-50%, -50%) rotate(180deg) !important;
}

html {
  overflow-x: hidden !important;
}

body {
  background-color: #F8F9F3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  overflow-x: hidden !important;
}

body:has(.menu.active) {
  overflow: hidden !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}

main {
  box-sizing: border-box;
  margin-top: 10rem;
  display: grid;
  width: 100dvw;
  padding: 1rem 1rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  main {
    padding: 1rem 2rem;
  }
}

.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #F8F9F3;
}
.copyrights a {
  text-decoration: underline;
}

.main-wrapper > .copyrights {
  color: #000000;
  z-index: 1;
}

*:has([data-forSale]) {
  position: relative;
}

[data-forSale]::after {
  content: attr(data-forSale);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FE0000;
  color: #F8F9F3;
  padding: 0.5rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
