//TODO: Change the path to the image
@import "mixins";
$szpiegPath: "../images/szpieg.png";

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin szpieg {
  position: relative;
  --rotate: -12deg;
  --x: -20%;
  //&::before {
  //  content: "";
  //  display: block;
  //  width: 15%;
  //  height: 25%;
  //  position: absolute;
  //  bottom: 12%;
  //  right: 5%;
  //  background-color: $white;
  //  z-index: -1;
  //}
  &::after {
    content: "";
    display: block;
    width: 18.2%;
    aspect-ratio: 10/21;
    position: absolute;
    top: 55%;
    left: 92%;
    rotate: var(--rotate);
    z-index: -2;
    background-image: url($szpiegPath);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(var(--x));
  }
}

:root{
  --exit-width: 72px;
  --logo-width: 50%;
  @include breakpoint(md){
    --exit-width: 92px;
  }
  @include breakpoint(lg){
    --exit-width: 128px;
  }
  @include breakpoint(xl){
    --exit-width: 128px;
    --logo-width: 30%;
  }
}
.anim-wrapper {
  width: var(--logo-width);
  aspect-ratio: 1/1;
  @include absolute-center;
  &.exit {
    left: 32px;
    top: 32px;
    transform: translate(0, 0);
  }
  @media (max-width: 1200px) {
    --width: 50%;
    transform: translate(-48%, -50%);
  }
}
.anim {
  &__item {
    @include absolute-center;
    img {
      width: 100%;
    }
  }
  .autobus {
    width: 100%;
    top: 85%;
    left: -8%;
    rotate: 2deg;
  }
  .samolot {
    width: 90%;
    top: 18%;
    left: 90%;
    rotate: 35deg;
  }
  .logo {
    aspect-ratio: 1/1;
    width: 100%;
    background-color: $white;
    @include szpieg;
    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
    }
  }
}

.header {
  height: auto;
  padding: 1rem 1.5rem 1rem 1rem;
  max-width: 100dvw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
    left: 0;
  z-index: $z-header;
  @include breakpoint(md){
    padding: 1rem 2rem;
  }


  .logo {
    aspect-ratio: 1/1;
    width: var(--exit-width);
    @include szpieg;
    &:hover {
      cursor: pointer;
      --x: 0;
      --rotate: 0deg;
    }
    &::after {
      transition: transform 0.5s cubic-bezier(0.47, 0, 0.23, 1.38), rotate 0.5s cubic-bezier(0.47, 0, 0.23, 1.38);
    }
    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
    }
  }

  h3{
    display: none;
  @include breakpoint(lg){
    display: inline-block;
  }
  }

  &__menu{
    display: block;
    border: none;
    background-color: transparent;
    margin: 0;
  }

  &__right{
    opacity: 0;
    position: relative;
  }

  &:after{
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    background-image: url('../images/szpieg2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    pointer-events: none;

    right: 0;
    top: calc(50% - 2rem);
  }
}

.menu__btn--close{
    display: none;
  @include breakpoint(lg){
    display: block;
    border: none;
    background-color: transparent;
    color: white;
    text-transform: lowercase;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    &:hover{
      color: $red;
    }
  }
}

body:has(div.ranAnim){
  .header__right{
    opacity: 1;
  }
}


.categories-list{
  display: none;

  @include breakpoint(lg){
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: $z-header;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
  }

  a, h4{
    white-space: nowrap;
  }
}