@import "variables";
@import "mixins";
@import "colors";
main:has(.home__hero){
  margin-top: 8rem;
  margin-bottom: 0;
  padding-bottom: 0;
  img{
    width: 100%;
  }
  @include breakpoint(md) {
    margin-top: 10rem;
  }
  @include breakpoint(lg) {
    margin-top: 8rem;
  }
}
body:has(.home__hero){
  footer{
      position: relative;
      z-index: 2;
  }
  section {
    opacity: 0;
  }
}
body:has(.home__hero, .ranAnim){
  section{
    opacity: 1;
  }
}

.home__hero{
  &__title{
    font-size: 4rem;
    color: $red;
    font-weight: 700;
    text-align: center;
    text-wrap: nowrap;
    letter-spacing: -2%;
    height: 1.15lh;
    width: 100%;
    position: relative;
    overflow: hidden;
    span{
      display: inline-block;
      min-width: 1rem;
    }
  }
  &__desc{
    position: relative;
    margin: 1rem auto 0 auto;
    font-size: 1.2rem;
    text-align: center;
    text-wrap: balance;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    span{
      display: block;
    }
    span:last-of-type{
      visibility: hidden;
      display: block;
      height: 1px;
      width: 1px;
      position: absolute;
    }
    max-width: 450px;
  }
  &__image{
    --insetBottom: 0;
    --brightness: 1;
    margin: 2rem auto 6rem auto;
    max-width: 500px;
    width: 100%;
    position: relative;
    clip-path: inset(-40px -40px var(--insetBottom) -40px);
    img{
      filter: brightness(var(--brightness));
      display: block;
      height: auto;
      border-radius: 40px;
      //width: calc(100% + 2.1rem) !important;
      width: 100%;
      margin: 0 auto;
      box-shadow: 0 10px 10px 4px rgba($black, 0.15);
      z-index: 2;
      position: relative;
    }
  }
  &__cta{
    @include playfair-display;
    text-transform: uppercase;
    text-wrap: nowrap;
    color: $white;
    background-color: $red;
    padding: 80px 32px 16px 32px;
    line-height: 90%;
    font-size: 2rem;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    outline: none;
    display: block;
    box-shadow: 0 8px 8px 0 rgba($red, 0.15);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -70px);
    z-index: 1;
    transition: padding 0.2s cubic-bezier(.22,.68,0,1.71);
    @media (hover: hover){
      &:hover{
      padding: 80px 48px 16px 48px;
      }
    }
  }

  width: 100%;
  max-width: 100%;
  @include breakpoint(md){
    &__title{
      font-size: 7rem;
    }
    &__desc{
      margin: 4rem auto;
      max-width: 450px;
      span:last-of-type{
        display: inline;
        visibility: visible;
        height: unset;
        width: unset;
        position: static;
      }
    }
    &__image{
      margin: 0 auto 8rem auto;
    }
  }
  @include breakpoint(lg){
    position: relative;
    &__title{
      position: fixed;
      top: 7rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 8rem;
      span{
        min-width: 2rem;
      }
    }
    &__desc{
      margin: 0 auto;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 78%);
      max-width: 540px;
    }
    &__image{
      box-sizing: content-box;
      max-width: 80vw;
      max-height: 76vh;
      margin-top: 366px;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 200vw;
        height: 100vh;
        transform: translateX(-50%);
        z-index: 0;
        background-color: $white;
      }
    }
  }
  @include breakpoint(xl){
    &__image{
      margin-top: 400px;
    }
  }
  @include breakpoint(2xl){
    &__image{
      margin-top: 460px;
    }
    &__desc{
      transform: translate(-50%, 72%);
      max-width: 700px;
      font-size: 1.4rem;
    }
    &__image{
      max-height: 84vh;
    }
  }
}

.home__bio{
  width: 100%;
  display: grid;
  grid-template-areas: "decor decor" "content image";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto;
  column-gap: 1rem;
  row-gap: 2rem;
  //overflow: hidden;
  &__decor{
    grid-area: decor;
    display: flex;
    column-gap: 2rem;
    width: 100%;
    span{
      display: block;
      width: fit-content;
    }
    transform: translate3d(-130%, 0, 0);
    will-change: translate3d, skewX;
    animation: none;
    &.isIos{
      will-change: translate;
      transform: translateX(-200%);
      animation: slideRow linear 30s infinite;
    }
  }
  &__image{
    grid-area: image;
    height: 100%;
    position: relative;
    img{
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &__content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    p{
      font-size: 1.16rem;
      white-space: pre-line;
      b{
        font-style: italic;
        color: $red;
      }
    }
  }

  @include breakpoint(md){
    max-width: 700px;
    column-gap: 2rem;
    row-gap: 4rem;
    margin: 0 auto;
    transform: translateX(1rem);
    &__decor span{
      font-size: 6rem;
    }
    &__content p {
      font-size: 1.5rem;
    }
  }
  @include breakpoint(lg){
    max-width: 1100px;
    position: relative;
    z-index: 1;
    background-color: $white;
    transform: none;
    grid-template-areas: "decor decor" "image content";
    justify-content: space-between;
    grid-template-columns: 500px 550px;
    &___decor{
      transform: translateX(-100%);
      column-gap: 4rem;
    }
  }
  @include breakpoint(2xl){
    max-width: 1600px;
    width: 80vw;
    grid-template-columns: 700px 700px;
    &__content p{
      font-size: 1.5rem;
    }
  }
}
@keyframes slideRow {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.home__categories{
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: $white;
  padding: 3rem 0;
  &__heading{
    margin: 0 auto 2rem auto;
    display: block;
    text-align: center;
  }
  &__wrapper{
    margin: 0 auto;
    max-width: 650px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  &__item{
    font-size: 2.6rem;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-areas: "cat desc";
    column-gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    h3{
      grid-area: cat;
      display: block;
      width: fit-content;
      text-wrap: nowrap;
      font-size: inherit;
      margin: 0;
      font-weight: inherit;
    }
    span{
      grid-area: desc;
      font-size: 1rem;
      color: $black;
      width: 100%;
      height: 100%;
      @include font-body;
      text-transform: none;
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      padding-top: 0.3rem;
      margin: 0 auto 0 0;
      font-weight: 400;
      opacity: 0.5;
      max-width: 180px;
    }
    &:nth-of-type(2n){
      justify-self: end;
      text-align: right;
      grid-template-areas: "desc cat";
      grid-template-columns: 1fr min-content;
      span{
        margin: 0 0 0 auto;
        text-align: right;
        justify-content: end;
      }
    }
    &:nth-of-type(3n){
      padding-left: 2.2rem;
    }
    &:nth-of-type(4n){
      padding-right: 2rem;
    }
  }

  @include breakpoint(md){
    padding: 4rem 0;
    &__heading{
      margin-bottom: 4rem;
    }
    &__item{
      column-gap: 1.5rem;
      font-size: 4rem;
      span{
        font-size: 1.4rem;
        max-width: 240px;
        opacity: 1;
        text-wrap: balance;
      }
    }
  }
  @include breakpoint(lg){
    &__wrapper{
      row-gap: 3rem;
      max-width: 1100px;
    }
    &__item span{
      max-width: 500px;
    }
  }
}
.section-heading{
  color: $red;
  font-size: 3rem;
  text-wrap: nowrap;
  @include breakpoint(md){
    font-size: 6rem;
  }
}