@import 'mixins';

.menu{
  font-size: 5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
  z-index: $z-menu;
  background-image: image-set(
                  url('../images/menu-bg-sm.webp') type('image/webp'),
                  url('../images/menu-bg-sm.png') type('image/png'));
  @include breakpoint(md) {
    background-image: image-set(
                    url('../images/menu-bg-md.webp') type('image/webp'),
                    url('../images/menu-bg-md.png') type('image/png'));
  }
  @include breakpoint(xl) {
    background-image: image-set(
                    url('../images/menu-bg-lg.webp') type('image/webp'),
                    url('../images/menu-bg-lg.png') type('image/png'));
  }
  background-size: cover;
  background-repeat: no-repeat;
  &.active{
    opacity: 1;
    pointer-events: all;
  }
  &.inactive{
    opacity: 0;
    pointer-events: none;
  }

  .hidden{
    display: none;
  }

  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
    list-style: none;
    padding: 0;
    margin: 0 0 4rem 0;
    position: relative;
    @include breakpoint(lg){
      margin: 0;
    }
  }

  &__list.categories{
    .menu__item{
      position: relative;
      z-index: 1;
      &:hover{
        z-index: $z-item-overlay;
        color: $red;
      }
    }
  }
}