@import 'variables';

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

@mixin underlineAnimation {
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $black;
    transform: scaleX(0);
    transition: 0.15s transform cubic-bezier(.57,.21,.69,1.25);
    transform-origin: center;
  }
  &:hover:before{
      transform: scaleX(1);
  }
}